body {
    overflow: hidden;
}

.grid {
    width: 400px;
    height: 600px;
    background-color: transparent;
    background-image: url('img/bg.jpg');
    position: relative;
    font-size: 200px;
    text-align: center;
}

.character {
    width: 60px;
    height: 85px;
    background-color: transparent;
    background-image: url('img/doodle-jump-ninja.png');
    position: absolute;
    z-index: 99;
}

.platform {
    width: 85px;
    height: 15px;
    background-color: transparent;
    background-image: url('img/doodle-jump-platform.png');
    position: absolute;
}